<h1>Lists</h1>

<ul class="list-group">
<% @lists.each do |list| %>
<li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>

<%= link_to 'Add new list', new_list_path, class: 'mt-3 btn btn-primary' %>
